<!doctype html>
<html  class="x-admin-sm">
<head>
	<meta charset="UTF-8">
	<title>thinNAS-登录</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
<link rel="stylesheet" href="./../css/index.css">
<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
<link rel="stylesheet" href="./../css/login.css">
<link rel="stylesheet" href="./../font_icon/iconfont.css"><!-- 阿里自定义图标 -->
<link rel="stylesheet" href="./../css/reset.css">
<script src="../../layuiadmin/layui/layui.js"></script>
</head>
<body>
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div>
				<form class="layui-form layui-col-space5">
					<div class="layui-input-inline layui-show-xs-block">
						<input type="text" name="username" placeholder="搜索姓名/手机号" autocomplete="off" class="layui-input">
					</div>
					<div class="layui-input-inline layui-show-xs-block">
						<select name="contrller">
							<option value="">筛选角色</option>
							<option value="0">张三</option>
							<option value="1">张三</option>
						</select>
					</div>
					<div class="layui-input-inline layui-show-xs-block">
						<select name="contrller">
							<option value="">选择状态</option>
							<option value="0">待确认</option>
							<option value="1">已确认</option>
							<option value="2">已收货</option>
							<option value="3">已取消</option>
							<option value="4">已完成</option>
							<option value="5">已作废</option>
						</select>
					</div>
					<div class="layui-input-inline layui-show-xs-block">
						<button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
					</div>
				</form>
			</div>
			<div class="pt10 clearfix">
				<button class="layui-btn layui-btn-primary" onclick="delAll()">
					<i class="layui-icon">&#xe654;</i>
				</button>
				<!-- 添加 -->
				<button class="layui-btn layui-btn-primary" onclick="xadmin.open('添加用户','./order-add.html',800,600)">
					<i class="layui-icon">&#xe640;</i>
				</button>
				<!-- 删除 -->
				<button class="layui-btn layui-btn-primary" onclick="xadmin.open('添加用户','./order-add.html',800,600)">
					<i class="layui-icon">&#xe672;</i>
				</button>
				<!-- 重置密码 -->
				<button class="layui-btn layui-btn-primary" onclick="xadmin.open('添加用户','./order-add.html',800,600)">
					<i class="layui-icon">&#xe666;</i>
				</button>
				<!-- 刷新 -->
			</div>
			<div>
				<table id="test-table-operate" lay-filter="test-table-operate"></table>
				<script type="text/html" id="test-table-operate-barDemo">
					<a class="layui-icon" lay-event="zonelist" id="zonelist" style="vertical-align:middle;color:#3691FF;font-size:1.4rem">&#xe642;</a>
					<a class="layui-icon" lay-event="zonelist" id="zonelist" style="vertical-align:middle;color:#ff0000;font-size:1.4rem">&#xe640;</a>
					<div class="switchStyle">
						<input type="checkbox" checked="" lay-skin="switch"><!--开-->
						<!-- <input type="checkbox" lay-skin="switch"> --><!--关-->
					</div>
				</script>
			</div>
		</div>
	</div>
</div>


<script src="arrangeman.js"></script>
</body>
</html>
