<!doctype html>
<html  class="x-admin-sm">
<head>
<meta charset="UTF-8">
<title>售后服务</title>
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" href="./../css/index.css">
<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
<link rel="stylesheet" href="./../css/login.css">
<link rel="stylesheet" href="./../font_icon/iconfont.css"><!-- 阿里自定义图标 -->
<link rel="stylesheet" href="./../css/reset.css">
<link rel="stylesheet" href="./../css/resettable.css">

<script src="../../layuiadmin/layui/layui.js"></script>
<script src="../../js/jquery-3.1.1.min.js"></script>
<script src="../../js/jquery_ex.js"></script>
<style>
.layui-table img {
    max-width: 50px;
    max-height: 50px;
}
</style>
</head>
<body>
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-form layui-col-space5">
				<div class="layui-input-inline layui-show-xs-block">
					<select id="FEEDBACKTYPE" lay-filter="component-types" >
						<option value="0">全部</option>
						<option value="1">硬件故障</option>
						<option value="2">软件故障</option>
						<option value="3">硬件使用障碍</option>
						<option value="4">软件使用障碍</option>
						<option value="5">优化建议</option>
						<option value="6">投诉反馈</option>
						<option value="7">其它</option>
					</select>
				</div>
				<div class="layui-input-inline layui-show-xs-block">
					<select id="STATUS" lay-filter="component-status" >
						<option value="">全部</option>
						<option value="1">处理中</option>
                        <option value="2">已关闭</option>
                        <option value="3">已解决</option>
                        <option value="4">待定</option>
					</select>
				</div>
				<div class="layui-input-inline layui-show-xs-block">
					<input type="text" name="date" id="rangetime" placeholder="选择开始时间｜结束时间" autocomplete="off" class="layui-input">
				</div>
				<!-- <div class="layui-input-inline layui-show-xs-block">
					<button class="layui-btn layui-ds" data-type="search" id="search"><i class="layui-icon">&#xe615;</i></button>
				</div> -->
			</div>
			<div class="pt10 clearfix pop_text">
				<button class="layui-btn layui-ds layui-btn-primary" data-type="add" id="add" data="添加反馈">
					<i class="layui-icon">&#xe654;</i>
				</button>
				<button class="layui-btn layui-ds layui-btn-primary" data-type="del" id="del" data="删除">
					<i class="layui-icon">&#xe640;</i>
				</button>
				<button class="layui-btn layui-ds layui-btn-primary" data-type="refresh" id="refresh" data="刷新">
					<i class="layui-icon">&#xe666;</i>
				</button>
			</div>
			<table id="test-table-operate" lay-filter="test-table-operate"></table>
			<script type="text/html" id="test-table-operate-barDemo">
				<a class="layui-icon table-icon-style" lay-event="edit" id="edit">&#xe642;</a>
				<a class="layui-icon table-icon-style" lay-event="del" id="del">&#xe640;</a>
				<!--设置角色栏目-->
				<!-- <a class="layui-icon table-icon-style" lay-event="menu" id="menu">&#xe620;</a> -->
			</script>

			<!-- 点击查看更多操作 三部分组成 CSS html js  3.10 -->
			<!-- <script type="text/html" id="test-table-operate-barDemoMore">
				<div class="moreOperate">
					<a herf="javascript:;" class="textA">更多操作</a>
					<div class="moreOperateA">
						<div class="moreOperateArr"></div>
						<div class="moreOperateAa">
							99999999999999999999
						</div>
					</div>
				</div>
			</script> -->
			<!-- 点击查看更多操作 三部分组成 CSS html js  3.10 end-->
						
		</div>
	</div>
</div>
<script src="aftersales_list.js"></script>
</body>
</html>

