<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>thinNAS--</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="alternate icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
    <script src="../layuiadmin/layui/layui.js"></script>
    <script src="../js/jquery-3.1.1.min.js"></script>
</head>
<body class="layui-layout-body">
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo layui-icon" lay-href="systemindex/systemindex.html ">
                <span>ThinNAS运营系统</span>
            </div>
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item" lay-unselect>
                    <i class="layui-icon layui-icon-refresh-3"></i>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="set/user/info.html"><i class="layui-icon layui-icon-refresh-3"></i>使用教程</a></dd>
                        <dd><a lay-href="set/user/info.html"><i class="layui-icon layui-icon-refresh-3"></i>常见问题</a></dd>
                        <dd><a lay-href="set/user/password.html"><i class="layui-icon layui-icon-refresh-3"></i>修改密码</a></dd>
                        <dd><a lay-href="set/user/phone.html"><i class="layui-icon layui-icon-refresh-3"></i>退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="">
                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                    <li data-name="get" class="layui-nav-item">
                        <a href="javascript:;" lay-href="system/account_list.html" lay-tips="数据分析" lay-direction="2">
                            <i class="layui-icon layui-icon-auz"></i>
                            <cite>数据分析</cite>
                        </a>
                    </li>
                    <li data-name="get" class="layui-nav-item">
                        <a href="javascript:;" lay-href="system/account_list.html" lay-tips="用户管理" lay-direction="2">
                            <i class="layui-icon layui-icon-auz"></i>
                            <cite>用户管理</cite>
                        </a>
                    </li>
                    <li data-name="get" class="layui-nav-item">
                        <a href="javascript:;" lay-href="system/account_list.html" lay-tips="设备管理" lay-direction="2">
                            <i class="layui-icon layui-icon-auz"></i>
                            <cite>设备管理</cite>
                        </a>
                    </li>
                    <li data-name="component" class="layui-nav-item ">
                        <a href="javascript:;" lay-tips="系统管理" lay-direction="2">
                            <i class="layui-icon layui-icon-refresh-3"></i>
                            <cite>系统管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd ><a lay-href="system/account_list.html">账号管理</a></dd>
                            <dd data-name="property"><a lay-href="arrange/typelist/typelist.html">角色权限</a></dd>
                            <dd data-name="property"><a lay-href="arrange/typelist/typelist.html">操作日志</a></dd>
                            <dd data-name="property"><a lay-href="arrange/typelist/typelist.html">C端用户日志</a></dd>
                        </dl>
                    </li>
                    <li data-name="get" class="layui-nav-item">
                        <a href="javascript:;" lay-href="system/account_list.html" lay-tips="售后服务" lay-direction="2">
                            <i class="layui-icon layui-icon-auz"></i>
                            <cite>售后服务</cite>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="systemindex/systemindex.html" lay-attr="systemindex/systemindex.html" class="layui-this"><i
                            class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>
        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body" style="top:95px;">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="systemindex/systemindex.html" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<script src="index.js"></script>
</body>
</html>