<!doctype html>
<html  class="x-admin-sm">
<head>
<meta charset="UTF-8">
<title>使用教程管理</title>
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" href="./../css/index.css">
<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
<link rel="stylesheet" href="./../css/login.css">
<link rel="stylesheet" href="./../font_icon/iconfont.css"><!-- 阿里自定义图标 -->
<link rel="stylesheet" href="./../css/reset.css">
<script src="../../layuiadmin/layui/layui.js"></script>
<script src="../../js/jquery-3.1.1.min.js"></script>
<script src="../../js/jquery_ex.js"></script>
<style>
.layui-btn .layui-icon {
    margin-right: 0;
    font-size: 16px;
}
.x-admin-sm .layui-btn {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}
</style>


</head>
<body>
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">

			<div class="contleft">
				<ul id="contleftlist" class="contleftlist">
					<!-- <li><a href="javascript:;" class="on">一分钟了解AI储存APP</a></li>
					<li><a href="javascript:;">快速了解thinnas</a></li>
					<li><a href="javascript:;">一分钟了解AI储存一分钟了解AI储存APPAPP</a></li>
					<li><a href="javascript:;">一分钟了解AI储存APP</a></li>
					<li><a href="javascript:;">一分钟了解AI储存APP</a></li>
					<li><a href="javascript:;" class="on">一分钟了解AI储存APP</a></li>
					<li><a href="javascript:;">2快速了解thinnas</a></li>
					<li><a href="javascript:;">一分钟了解AI储存一分钟了解AI储存APPAPP</a></li>
					<li><a href="javascript:;">一分钟了解AI储存APP</a></li>
					<li><a href="javascript:;">一分钟了解AI储存APP</a></li><li><a href="javascript:;" class="on">一分钟了解AI储存APP</a></li>
					<li><a href="javascript:;">3快速了解thinnas</a></li>
					<li><a href="javascript:;">一分钟了解AI储存一分钟了解AI储存APPAPP</a></li>
					<li><a href="javascript:;">一分钟了解AI储存APP</a></li>
					<li><a href="javascript:;">一分钟了解AI储存APP</a></li><li><a href="javascript:;" class="on">一分钟了解AI储存APP</a></li>
					<li><a href="javascript:;">4快速了解thinnas</a></li>
					<li><a href="javascript:;">一分钟了解AI储存一分钟了解AI储存APPAPP</a></li>
					<li><a href="javascript:;">5一分钟了解AI储存APP</a></li>
					<li><a href="javascript:;">一分钟了解AI储存APP</a></li> -->
				</ul>
				
			</div>
			<div class="contleftbtn">
				<button type="button" class="layui-btn layui-btn-normal" data-type="addcourse"><i class="layui-icon">&#xe624;</i>添加教程</button>
			</div>
			<div class="contright">
				<video id="video1" width="100%" height="100%" muted controls autoplay loop="loop">
					<source src="" type="video/mp4">
				</video>
			</div>
			<div class="contrightbtn">
				<button type="button" class="layui-btn layui-btn-normal" data-type="editcourse"><i class="layui-icon">&#xe642;</i>编辑教程</button>
				<button type="button" class="layui-btn layui-btn-normal" data-type="delcourse"><i class="layui-icon">&#xe640;</i>删除教程</button>
				<!-- <button type="button" class="layui-btn layui-btn-normal" id="uploadcourse"><i class="layui-icon">&#xe681;</i>重新上传</button> -->
			</div>



			<!-- <div class="layui-form layui-col-space5">	
				<div class="layui-input-inline layui-show-xs-block">
					<input type="text" name="username" placeholder="搜索姓名/手机号" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-input-inline layui-show-xs-block">
					<select name="contrller">
						<option value="">选择账号状态</option>
						<option value="0">全部</option>
						<option value="1">启用</option>
						<option value="2">禁用</option>
					</select>
				</div>
				<div class="layui-input-inline layui-show-xs-block" style="width:90px">
					<select name="contrller">
						<option value="">选择性别</option>
						<option value="0">全部</option>
						<option value="1">男</option>
						<option value="2">女</option>
						<option value="3">未知</option>
					</select>
				</div>
				<div class="layui-input-inline layui-show-xs-block">
					<select name="contrller">
						<option value="">是否管理设备</option>
						<option value="0">全部</option>
						<option value="1">有管理设备</option>
						<option value="2">无设备</option>
					</select>
				</div>
				<div class="layui-input-inline layui-show-xs-block">
					<select name="contrller">
						<option value="">选择状态</option>
						<option value="0">待确认</option>
						<option value="1">已确认</option>
						<option value="2">已收货</option>
						<option value="3">已取消</option>
						<option value="4">已完成</option>
						<option value="5">已作废</option>
					</select>
				</div>
				<div class="layui-input-inline layui-show-xs-block">
					<input type="text" name="date" id="rangetime" placeholder="选择注册时间区间" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-input-inline layui-show-xs-block">
					<button class="layui-btn layui-ds" data-type="search" id="search"><i class="layui-icon">&#xe615;</i></button>
				</div>
				<div class="layui-input-inline layui-show-xs-block">
					<button class="layui-btn layui-ds layui-btn-primary" data-type="refresh" id="refresh" data="刷新">
						<i class="layui-icon">&#xe666;</i>
					</button>
				</div>			

			</div> -->
			<!-- <table id="test-table-operate" lay-filter="test-table-operate"></table>
			<script type="text/html" id="test-table-operate-barDemo">
				<div class="switchStyle" lay-event="switch" id="switch">
					{{#  if(d.jz == 1){ }}
					<input type="checkbox" checked="" lay-skin="switch">
					{{#  } else{ }}
					<input type="checkbox" lay-skin="switch">
					{{#  } }}
				</div>
			</script> -->

			
						
		</div>
	</div>
</div>
<script src="course.js"></script>
</body>
</html>

