<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑常见问题</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="./../css/reset.css">
    <script src="../../layuiadmin/layui/layui.js"></script>
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/jquery_ex.js"></script>
    <style>
        .layui-form-label {
            width: 90px;
        }
        .layui-input-block {
            margin-left: 120px;
        }
        .layui-form-select dl {
            max-height: 120px;
        }
    </style>
</head>
<body>
<form method="post" class="layui-form" >
    <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0; ">
        <div class="layui-form-item">
            <label class="layui-form-label"><span>*</span>问题名称：</label>
            <div class="layui-input-block">
                <input type="text" placeholder="请输入问题名称" autocomplete="off" class="layui-input" id="BZ" name="BZ">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span>*</span>问题分类：</label>
            <!-- 点击添加分类 切换到选择分类 -->
            <!-- 添加分类 -->
            <div class="layui-input-block" id="addClass">
                <div class="layui-col-xs7">
                    <select id="statusselect" lay-filter="component-status" name="contrller">
						<option value="">选择分类</option>
						<option value="1">新手必读</option>
                        <option value="0">设备添加</option>
                        <option value="1">新手必读</option>
                        <option value="0">设备添加</option>
                        <option value="1">新手必读</option>
                        <option value="0">设备添加</option>
                        <option value="1">新手必读</option>
						<option value="0">设备添加</option>
					</select>
                    
                </div>
                <div class="layui-col-xs5">
                    <div style="margin-left: 10px;">
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-fluid" id="addClassbtn">添加分类</button>
                    </div>
                </div>
            </div>
            <!-- 选择分类 -->
            <div class="layui-input-block" id="cgClass" style="display: none;">
                <div class="layui-col-xs7">
                    <input type="text" name="vercode" id="LAY-user-login-vercode" lay-verify="required"
                        placeholder="添加分类" class="layui-input">
                </div>
                <div class="layui-col-xs5">
                    <div style="margin-left: 10px;">
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-fluid" id="cgClassbtn">选择分类</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span>*</span>问题答案：</label>
            <div class="layui-input-block">
                <textarea placeholder="多行输入" class="layui-textarea"></textarea>
            </div>
        </div>
    </div>
    <button style="display: none;" class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="submit" id="submit">提交</button>
</form>
<script src="question_edit_pop.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>