<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>账号信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="./../css/reset.css">
    <script src="../../layuiadmin/layui/layui.js"></script>
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/jquery_ex.js"></script>
    <style>
        .layui-form-label {
            width: 90px;
        }
        .layui-input-block {
            margin-left: 120px;
        }
        input[disabled],input:disabled{
            border:1px solid #DDD;
            background-color:#F5F5F5;
            color:#ACA899;
        }
        .layui-upload-list{
            border: 1px solid #c0c0c0;
            border-radius: 40px;
        }
        .layui-upload-img {
            width: 80px;
            height: 80px;
            border-radius: 40px;
        }
    </style>
</head>
<body>
<form method="post" class="layui-form" >
    <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="width:80%;padding:20px ">
        <!-- <div class="layui-upload">
            
            <div class="layui-upload-list">
              <img class="layui-upload-img" id="demo1">
              <p id="demoText"></p>
            </div>
            
          </div>   -->
        <div class="layui-form-item">
            <label class="layui-form-label mt25">您的头像：</label>
            <div class="layui-input-block layui-upload clearfix">
                <div class="layui-upload-list" style="float:left">
                    <img class="layui-upload-img" id="headimg" src="../images/headImg.png" width="80">
                    <p id="demoText"></p>
                </div>
                <div class="floatmt">
                    <button type="button" class="layui-btn" id="test1">上传新头像</button>
                </div>
            </div>
	    </div>
        <div class="layui-form-item">
            <label class="layui-form-label">账户名：</label>
            <div class="layui-input-block positionR">
                <input type="text" value="" autocomplete="off" class="layui-input" id="username" name="username" disabled>
                <div class="positionA"><button type="button" class="layui-btn layui-ds layui-btn-primary" data-type="replaceMobile">更换手机号</button></div>
                <div>账户名用于登录系统，更换手机号之后，可用新手机号登录</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色：</label>
            <div class="layui-input-block">
                <input type="text" value="" autocomplete="off" class="layui-input" id="role_NAME" name="role_NAME" disabled>
                <div>角色不支持个人更改，如需更改请联系管理员</div>
            </div>
	    </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名：</label>
            <div class="layui-input-block">
                <input type="text" value="" lay-verify="required" autocomplete="off" class="layui-input" id="name" name="name">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-lg" lay-submit="" lay-filter="submit" id="submit">　　保存　　</button>
            </div>
        </div>
    </div>
</form>
<script src="accountInfo.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>