.clear { height: 0px; line-height: 0px; clear: both; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
*+html .clearfix { overflow: hidden; }
* html .clearfix { height: 1%; }
.a_blue {color:#3691FF!important;
cursor: pointer;}
.positionR{
    position: relative;
}
.positionA{
    position: absolute;
    right: 0;
    top: 0;
}
.mb10{
    margin-bottom: 10px;
}
.mt25{
    margin-top: 25px;
}
.mt10{
    margin-top:10px;
}
.floatmt{
    float:left;margin-top:30px;margin-left:20px
}

.layui-fluid {
        padding: 10px 10px 0;
}
.layui-card {
box-shadow: none;
}
.layui-card-body {
padding: 10px 0;
}

.pt10{
        padding:10px 0 0;
    }.layui-input, .layui-select, .layui-textarea {
        height: 34px;
    }

    .layui-btn {
        height: 34px;
        line-height: 34px;
        padding: 0 10px;
        display: block;
        float: left;
    }
    .layui-btn-primary {
        border: 1px solid #C9C9C9;
        background-color: #fff;
        color: #555;
    }
    .layui-btn-primary:hover {
        border-color: #3691FF;
        color: #3691FF;
    }
    .layui-btn-primary:hover .layui-icon {
        color: #3691FF;
    }
    .layui-btn .layui-icon {
        margin-right:0;
        font-size: 20px;
    }
    .layui-table td, .layui-table th {
        min-width: auto;
    }
    .layui-table-cell {
        padding: 0 10px;
    }
    /* .switchStyle{
        display:inline-block
    }

.switchStyle .layui-form-switch {
    position: relative;
    height: 10px;
    line-height: 10px;
    min-width: 20px;
    padding: 0 4px;
}

.switchStyle .layui-form-switch i {
    left: -1px;
    top: -3px;
}
.switchStyle .layui-form-onswitch i {
    left: 13px;
    margin-left: 0;
    background-color: #3691FF!important;
}
.switchStyle .layui-form-onswitch em {
    margin-left: 0;
    margin-right: 0;
    color: #3691FF!important;
}
.switchStyle .layui-form-onswitch {
    border-color: #3691FF;
    background-color: #fff;
} */
.table-icon-style{
    vertical-align:middle;color:#3691FF;font-size:1.6rem!important
}
.table-icon-style2{
    margin-left:5px;background-color: #ff6600;
}
.table-icon-style3{
    vertical-align:middle;color:#3691FF;font-size:1.6rem!important;margin-left:5px
}

/* pop */
.mr10{
    margin-right: 10px;
}
.layui-form-label span{
    font-size: 14px;
    color: #f00;
    margin-right: 5px;
}
.tipsT{
    display: inline-block;
    color: #555;
    padding-top: 8px;
    line-height: 140%;
}
.tipsT span{
    color: #f00;
}

/* pop btn */
.layui-layer-btn a {
    height: 32px!important;
    line-height: 32px!important;
    padding: 0 30px!important;
}

/* detalisinfo */


.detalisinfo{
    float: left;width: 50%;
}
.smallbt{
    font-size: 14px;
    color: #000;
}
.history{
    font-size: 12px;
    color:#999;
    padding-top:5px
}
.history p{
    display: inline-block;
    margin-right: 20px;
}

.history span{
    color:#666;
}
.state{ font-size: 12px;
    color:#999;}
    
.state p{ font-size: 15px;
        color:#333;
    padding-top:5px}
    .state p span{ font-size: 12px;
        color:#666;
    margin-left:5px}
    .width100{
        float: none;width: 100%;
    }

    .width100 p{
        display: inline-block;
        margin-right: 20px;
    }
    
    .width100 span{
        color:#333;
    }
    .bt span{
        color:#3691FF;
        font-size: 16px;
    margin-right:5px}
    .states{
        display:inline-block;
        background-color: rgb(0, 172, 0);
        color:#fff;
        border-radius:8px;
        font-size: 12px;
        padding:0 5px;

    }

.situation_A{
    float: left;
    width: 40%;
}
.situation_B{
    float: left;
    width: 50%;
}
.situation_C,.situation_D{
    width: 50%;
    float: left;
}


.iconfont.icon-zu204,.iconfont.icon-zu201,.iconfont.icon-zu211{
    color: #3691FF;font-size: 18px;vertical-align:-2px;margin-left: 3px;
    cursor: pointer;
}
/*----course.html----*/

.contleft{
    position:fixed;
    left:0;
    top:0;
    bottom: 60px;
    width: 200px;
    background-color: #fff;
    border-right:1px solid #ccc;
    overflow-y: auto;
}
.contleftbtn{
    position:fixed;
    left:0;
    bottom: 0;
    height: 60px;
    width: 200px;
    background-color: #f1f1f1;
    border-right:1px solid #ccc;
    text-align: center;
}
.contleftbtn button{
    margin:0 auto;
    float:none;
    margin-top:10px;
}

.contleftlist{
    padding:10px;
}
.contleftlist li{
    padding: 10px 0;
    border-bottom:1px dotted #ccc;
    position: relative;
    line-height: 16px;
   }
   .rightbtn{
       position: absolute;
       right:0;
        top:50%;
        height: 16px;
        margin-top:-8px;
   }
.contleftlist li a{
 color: #333;    
}



.contleftlist li a:hover,.contleftlist li.on a{
    color: #3691FF;    
   }

   .contleftlist li.hide a{
    color: #d5d4d2;
    text-decoration: line-through;  
   }


.contright{
    position:fixed;
    left:201px;
    right:0;
    top:0;
    bottom:60px;
    overflow-y: auto;
}
.contrightbtn{
    position:fixed;
    left:200px;
    bottom: 0;
    right: 0;
    height: 60px;
    text-align: center;
    background-color: #f1f1f1;
}

.contrightbtn button{
    margin:0 auto;
    float:none;
    margin-top:10px;
    display: inline-block;
}
.contright-cont{
    padding:20px;
    background-color: #fff;
}
.contright-cont h2{
    color: #3691FF;
    font-size: 14px;
    padding-bottom: 10px;
}
.contright-cont p{
    color: #555;
    font-size: 12px;
    line-height: 200%;
    padding-bottom: 30px;
}





