.clear { height: 0px; line-height: 0px; clear: both; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
*+html .clearfix { overflow: hidden; }
* html .clearfix { height: 1%; }
.a_blue {color:#3691FF!important;
cursor: pointer;}
.positionR{
    position: relative;
}
.positionA{
    position: absolute;
    right: 0;
    top: 0;
}
.mb10{
    margin-bottom: 10px;
}
.mt25{
    margin-top: 25px;
}
.mt10{
    margin-top:10px;
}
.floatmt{
    float:left;margin-top:30px;margin-left:20px
}

.layui-fluid {
        padding: 10px 10px 0;
}
.layui-card {
box-shadow: none;
}
.layui-card-body {
padding: 10px 0;
}

.pt10{
        padding:10px 0 0;
    }.layui-input, .layui-select, .layui-textarea {
        height: 34px;
    }

    .layui-btn {
        height: 34px;
        line-height: 34px;
        padding: 0 10px;
        display: block;
        float: left;
    }
    .layui-btn-primary {
        border: 1px solid #C9C9C9;
        background-color: #fff;
        color: #555;
    }
    .layui-btn-primary:hover {
        border-color: #3691FF;
        color: #3691FF;
    }
    .layui-btn-primary:hover .layui-icon {
        color: #3691FF;
    }
    .layui-btn .layui-icon {
        margin-right:0;
        font-size: 20px;
    }
    .layui-table td, .layui-table th {
        min-width: auto;
    }
    .layui-table-cell {
        padding: 0 10px;
    }
    /* .switchStyle{
        display:inline-block
    }

.switchStyle .layui-form-switch {
    position: relative;
    height: 10px;
    line-height: 10px;
    min-width: 20px;
    padding: 0 4px;
}

.switchStyle .layui-form-switch i {
    left: -1px;
    top: -3px;
}
.switchStyle .layui-form-onswitch i {
    left: 13px;
    margin-left: 0;
    background-color: #3691FF!important;
}
.switchStyle .layui-form-onswitch em {
    margin-left: 0;
    margin-right: 0;
    color: #3691FF!important;
}
.switchStyle .layui-form-onswitch {
    border-color: #3691FF;
    background-color: #fff;
} */
.table-icon-style{
    vertical-align:middle;color:#3691FF;font-size:1.6rem!important
}
.table-icon-style2{
    margin-left:5px;background-color: #ff6600;
}
.table-icon-style3{
    vertical-align:middle;color:#3691FF;font-size:1.6rem!important;margin-left:5px
}

/* pop */
.mr10{
    margin-right: 10px;
}
.layui-form-label span{
    font-size: 14px;
    color: #f00;
    margin-right: 5px;
}
.tipsT{
    display: inline-block;
    color: #555;
    padding-top: 8px;
    line-height: 140%;
}
.tipsT span{
    color: #f00;
}

/* pop btn */
.layui-layer-btn a {
    height: 32px!important;
    line-height: 32px!important;
    padding: 0 30px!important;
}

/* detalisinfo */


.detalisinfo{
    float: left;width: 50%;
}
.smallbt{
    font-size: 14px;
    color: #000;
}
.history{
    font-size: 12px;
    color:#999;
    padding-top:5px
}
.history p{
    display: inline-block;
    margin-right: 20px;
}

.history span{
    color:#666;
}
.state{ font-size: 12px;
    color:#999;}
    
.state p{ font-size: 15px;
        color:#333;
    padding-top:5px}
    .state p span{ font-size: 12px;
        color:#666;
    margin-left:5px}
    .width100{
        float: none;width: 100%;
    }

    .width100 p{
        display: inline-block;
        margin-right: 20px;
    }
    
    .width100 span{
        color:#333;
    }
    .bt span{
        color:#3691FF;
        font-size: 16px;
    margin-right:5px}
    .states{
        display:inline-block;
        background-color: rgb(0, 172, 0);
        color:#fff;
        border-radius:8px;
        font-size: 12px;
        padding:0 5px;

    }

.situation_A{
    float: left;
    width: 40%;
}
.situation_B{
    float: left;
    width: 50%;
}
.situation_C,.situation_D{
    width: 50%;
    float: left;
}


.iconfont.icon-zu204,.iconfont.icon-zu201,.iconfont.icon-zu211{
    color: #3691FF;font-size: 18px;vertical-align:-2px;margin-left: 3px;
    cursor: pointer;
}
/*----course.html----*/

.contleft{
    position:fixed;
    left:0;
    top:0;
    bottom: 60px;
    width: 200px;
    background-color: #fff;
    border-right:1px solid #ccc;
    overflow-y: auto;
}
.contleftbtn{
    position:fixed;
    left:0;
    bottom: 0;
    height: 60px;
    width: 200px;
    background-color: #f1f1f1;
    border-right:1px solid #ccc;
    text-align: center;
}
.contleftbtn button{
    margin:0 auto;
    float:none;
    margin-top:10px;
}

.contleftlist{
    padding:10px;
}
.contleftlist li{
    padding: 10px 0;
    border-bottom:1px dotted #ccc;
    position: relative;
    line-height: 16px;
   }
   .rightbtn{
       position: absolute;
       right:0;
        top:50%;
        height: 16px;
        margin-top:-8px;
   }
.contleftlist li a{
 color: #333;    
}



.contleftlist li a:hover,.contleftlist li.on a{
    color: #3691FF;    
   }

   .contleftlist li.hide a{
    color: #d5d4d2;
    text-decoration: line-through;  
   }


.contright{
    position:fixed;
    left:201px;
    right:0;
    top:0;
    bottom:0;
    overflow-y: auto;
    background-color: #fff;
}
.contrightbtn{
    position:fixed;
    left:200px;
    bottom: 0;
    right: 0;
    height: 60px;
    text-align: center;
    background-color: #f1f1f1;
}

.contrightbtn button{
    margin:0 auto;
    float:none;
    margin-top:10px;
    display: inline-block;
}
.contright-cont{
    padding:20px;
    background-color: #fff;
}
.contright-cont h2{
    color: #3691FF;
    font-size: 14px;
    padding-bottom: 10px;
    padding-right: 130px;
}
.contright-cont p{
    color: #555;
    font-size: 12px;
    line-height: 200%;
    padding-bottom: 30px;
    text-align: justify;
}
.contright-cont-btn{
    position: absolute;
    right:0;
    top:-10px;
}

.consolebg{
    background:#020628 url(../images/bg.jpg) no-repeat center bottom;
}
.console_top{
    height: 96px;
    background: url(../images/cs_topbg.png) no-repeat center;
    position: relative;
}
.console_top_time{
    position: absolute;
    left:10px;
    top:25px;
    height: 46px;
    line-height: 46px;
    color: #06ded0;
    font-size: 16px;
}
.console_top_full{
    position: absolute;
    right:30px;
    top:30px;
    height: 40px;
    width: 40px;
    background: url(../images/cs_topfull.png) no-repeat center;
}

.top_line{
    position: absolute;
    top:0;
    left:50%;
    margin-left: -183px;
    height: 2px;
    width: 366px;
    background: url(../images/topbg.png) no-repeat center;
}
.left_top{
    position: absolute;
    top:0;
    left:0;
    height: 12px;
    width: 12px;
    background: url(../images/left_top.png) no-repeat center;
}
.left_bottom{
    position: absolute;
    bottom:0;
    left:0;
    height: 12px;
    width: 12px;
    background: url(../images/left_bottom.png) no-repeat center;
}
.right_top{
    position: absolute;
    right:0;
    top:0;
    height: 12px;
    width: 12px;
    background: url(../images/right_top.png) no-repeat center;
}
.right_bottom{
    position: absolute;
    right:0;
    bottom:0;
    height: 12px;
    width: 12px;
    background: url(../images/right_bottom.png) no-repeat center;
}

.box_yinying{
   padding:20px 0;background-color: rgba(1, 14, 79, 0.2);
    box-shadow: 0 0 46px rgba(164, 186, 220, 0.3) inset;
    min-height: 100px;
}
.mb36{
    margin-bottom: 36px;
}
.mb46{
    margin-bottom: 46px;
}

.mr20{
    margin-right: 20px;
}
.mb30{
    margin-bottom: 30px;
}
.layui-col-md2 .t{
    font-size: 14px;
    color: #3691ff;
}

.layui-col-md2 .s{
    text-align: right;
    font-size: 14px;
    color: #06d9d0;
}
.layui-col-md2 .s span{
    font-size: 20px;
    color: #06d9d0;
    margin-right: 5px;
}


.layui-col-md2 .c{
    font-size: 14px;
    color: #3691ff;
}
.layui-col-md2 .c span{
    font-size: 20px;
    color: #06d9d0;
    float: right;
}
.layui-col-md2 .c span i{
    font-size: 12px;
    color: #06d9d0;
    font-style:normal
}

.layui-col-md2 .d{
    font-size: 14px;
    color: #3691ff;
}
.layui-col-md2 .d span{
    color: #06d9d0;
    margin-right: 5px;
    float: right;
    vertical-align: middle;
}
.layui-col-md2 .d span s{
    color: #06d9d0;
    margin-left:5px;
    text-decoration: none;
}

.box_yinying .layui-col-md2{
    padding:15px;
    border-right:1px solid #2ec3ff;
    color: #fff;
}
.box_yinying .layui-col-md2:last-child{
    border-right:none
}

.top_btitle{
    position: absolute;
    top:-28px;
    left:50%;
    margin-left: -142px;
    height: 56px;
    width: 284px;
    background: url(../images/big_title.png) no-repeat center;
    text-align: center;
    line-height: 54px;
    font-size: 16px;
    color: #fff;
}
.top_btitle span{
    margin: 0 5px;
}
.top_btitle span.on{
    font-size: 16px;
    color: #3691ff;
}

.top_stitle{
    position: absolute;
    top:-27px;
    left:50%;
    margin-left: -114px;
    height: 54px;
    width: 228px;
    background: url(../images/smail_title.png) no-repeat center;
    text-align: center;
    line-height: 54px;
    font-size: 16px;
    color: #fff;
}

.map_right_list{
    position: absolute;
    right:-10px;
    top:60px;
    z-index: 99;
}
.map_right_t{
    font-size: 18px;
    color: #f0eff6;
    text-align: right;
    margin-bottom: 20px;
}
.map_right_t span{
    margin: 0 5px;
}
.map_right_t .a{
    color: #06ded0;
}
/* .text_list{

} */
.text_lista{
    float: left;
    width: 50%;
}
.text_lista li{
    font-size: 16px;
    color: #f0eff6;
    margin: 10px;
}

.right_tips{
    position: absolute;
    right:0;
    top:0;
}
.right_tips li{
    display: inline-block;
    font-size: 14px;
    color: #06d9d0;
    margin: 0 3px;
}
.right_tips li.a{
    color: #3a5eff;
}
.right_tips li span{
    font-size: 24px;
    vertical-align: middle;
    margin-right: 3px;
}
.right_tips2{
    position: absolute;
    right:0;
    top:0;
    width:50%;
}
.right_tips2 li{
    width: 50%;
    float: left;
    font-size:16px;
    font-weight:bold;
    line-height:50px;
    list-style:none;
    white-space:nowrap;
}
.right_tips2 li img{
    vertical-align: -2px;
    margin-right: 5px;
}
.right_tips2 li span{
    margin-left: 5px;
}
.right_tips2 li.a{
    color: #F9B63C;
}
.right_tips2 li.b{
    color: #F1D669;
}
.right_tips2 li.c{
    color: #8D83FE;
}
.right_tips2 li.d{
    color: #87E187;
}
.right_tips2 li.e{
    color: #007FFD;
}
.right_tips2 li.f{
    color: #D2CFD0;
}

