<!doctype html>
<html  class="x-admin-sm">
<head>
<meta charset="UTF-8">
<title>thinNAS-用户管理</title>
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" href="./../css/index.css">
<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
<link rel="stylesheet" href="./../css/login.css">
<link rel="stylesheet" href="./../font_icon/iconfont.css"><!-- 阿里自定义图标 -->
<link rel="stylesheet" href="./../css/reset.css">
<link rel="stylesheet" href="./../css/resettable.css">

<script src="../../layuiadmin/layui/layui.js"></script>
<script src="../../js/jquery-3.1.1.min.js"></script>
<script src="../../js/jquery_ex.js"></script>
</head>
<body>
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-card">
			<div class="layui-form layui-col-space5">	
				<div class="layui-input-inline layui-show-xs-block">
					<input type="text" id="keyword" name="keyword" placeholder="搜索昵称/手机号" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-input-inline layui-show-xs-block">
					<select id="statusselect" lay-filter="component-status" name="contrller">
						<option value="">全部</option>
						<option value="1">启用</option>
						<option value="0">停用</option>
					</select>
				</div>
				<div class="layui-input-inline layui-show-xs-block">
					<select id="sexselect" lay-filter="component-sex" name="contrller">
						<option value="">全部</option>
						<option value="1">男</option>
						<option value="2">女</option>
					</select>
				</div>
				<div class="layui-input-inline layui-show-xs-block" >
					<select id="deviceselect" lay-filter="component-device" name="contrller">
						<option value="">全部</option>
						<option value="1">有管理设备</option>
						<option value="0">没有管理设备</option>
					</select>
				</div>
				<div class="layui-input-inline layui-show-xs-block">
					<input type="text" name="date" id="rangetime" placeholder="选择注册时间区间" autocomplete="off" class="layui-input">
				</div>
				<!-- <div class="layui-input-inline layui-show-xs-block">
					<button class="layui-btn layui-ds" data-type="search" id="search"><i class="layui-icon">&#xe615;</i></button>
				</div> -->
				<div class="layui-input-inline layui-show-xs-block clearfix">
					<button class="layui-btn layui-ds layui-btn-primary" data-type="refresh" id="refresh" data="刷新">
						<i class="layui-icon">&#xe666;</i>
					</button>
				</div>			

			</div>
			<table id="test-table-operate" lay-filter="test-table-operate"></table>
			<script type="text/html" id="test-table-operate-barDemo">
				<!-- <a class="layui-icon table-icon-style" lay-event="edit" id="edit">&#xe642;</a> -->
				<!-- <a class="layui-icon table-icon-style" lay-event="del" id="del">&#xe640;</a> -->
				<div class="switchStyle" lay-event="switch" id="switch">
					{{#  if(d.status == 1){ }}
					<input type="checkbox" checked="" lay-skin="switch"><!--开-->
					{{#  } else{ }}
					<input type="checkbox" lay-skin="switch">
					{{#  } }}
				</div>
			</script>


						
		</div>
	</div>
</div>
<script src="nasuser_list.js"></script>
</body>
</html>

