<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>数据分析</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="./../css/reset.css">

    <script src="../../layuiadmin/layui/layui.js"></script>

    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/jquery_ex.js"></script>
    <style>
    @media screen and (min-width:992px) {

        .box_yinying .layui-col-md2{
            width: 14.28571428%;
            border-right:1px solid #2ec3ff;
            border-bottom:none;
            color: #fff;
            margin:0;
        }
        .box_yinying .layui-col-md2:last-child{
            border-right:none
        }
        .box_yinying.mr20{
            margin-right: 20px!important;
            margin-bottom: 40px!important;
        }
        .box_yinying.mb30{
            margin-bottom: 30px;
        }
    }
    .layui-col-md2 .chart{
        height: 80px;
    }
    </style>
 
</head>
<body class="consolebg">
<div style="padding: 20px 10px;">
    <div class="layui-row mb36">
        <div class="layui-col-md12">
            <div class="grid-demo grid-demo-bg1">
                <div class="console_top">
                    <div id="console_top_time" class="console_top_time"></div><!---时间--->
                    <div id="console_top_full" class="console_top_full"></div><!---全屏--->
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row positionR box_yinying mb46">
        <div class="top_line"></div>
        <div class="left_top"></div>
        <div class="left_bottom"></div>
        <div class="right_top"></div>
        <div class="right_bottom"></div>
        <div class="layui-col-md2">
            <div class="t">总用户数</div>
            <div class="s"><span>2.23</span>万个</div>
            <div id="line1" class="chart"></div>
        </div>
        <div class="layui-col-md2">
            <div class="t">日活用户数</div>
            <div class="s"><span>1523</span>万个</div>
            <div id="line2" class="chart"></div>
        </div>
        <div class="layui-col-md2">
            <div class="t">设备用户比例</div>
            <div class="s"><span>72</span>%</div>
            <div id="line3" class="chart"></div>
        </div>
        <div class="layui-col-md2">
            <div class="c clearfix">备数总设 <span>72.2<i>万台</i></span></div>
            <div class="d">外部设备比例<span>10%<s>7.2万台</s></span></div> 
            <div id="line4" class="chart"></div>
        </div>
        <div class="layui-col-md2">
            <div class="t">公网IP数</div>
            <div class="s"><span>72</span>万个</div>
            <div id="line5" class="chart"></div>
        </div>
        <div class="layui-col-md2">
            <div class="t">存储容量</div>
            <div class="s"><span>32.32</span>PB</div>
            <div id="line6" class="chart"></div>
        </div>
        <div class="layui-col-md2">
            <div class="t">共享空间数</div>
            <div class="s">500TB  <span>3.2</span>万个</div>
            <div id="line7" class="chart"></div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md7">
            <div class="positionR box_yinying mr20">
                <div class="top_btitle">
                    <span id="usermap" class="on" style="cursor: pointer;">用户区域分布</span> | 
                    <span id="devicemap" style="cursor: pointer;">设备区域分布</span>
                </div><!--标题--->
                <div class="left_top"></div>
                <div class="left_bottom"></div>
                <div class="right_top"></div>
                <div class="right_bottom"></div>
                <div class="positionR" style="margin:0 20px;height: 580px;">
                    <span id="mapbackbtn" style="cursor: pointer;top: 9px;font-size: 14px;position: absolute;color: #fff;z-index: 99;">〈 返回</span>
                    
                    <div class="map_right_list">
                        <div class="map_right_t">
                            在线用户数：<span class="a">4000</span>/<span>10000</span>
                        </div>
                        <div class="text_list">
                            <div class="text_lista">
                                  <ul>
                                      <li>1.广东：52</li>
                                      <li>2.广东：52</li>
                                      <li>3.广东：52</li>
                                      <li>4.广东：52</li>
                                      <li>5.广东：52</li>
                                      <li>6.广东：52</li>
                                      <li>7.广东：52</li>
                                      <li>8.广东：52</li>
                                      <li>9.广东：52</li>
                                      <li>10.广东：52</li>
                                  </ul>
                            </div>
                            <div class="text_lista">
                                  <ul>
                                        <li>11.广东：52</li>
                                        <li>12.广东：52</li>
                                        <li>13.广东：52</li>
                                        <li>14.广东：52</li>
                                        <li>15.广东：52</li>
                                        <li>16.广东：52</li>
                                        <li>17.广东：52</li>
                                        <li>18.广东：52</li>
                                        <li>19.广东：52</li>
                                        <li>20.广东：52</li>
                                  </ul>
                            </div>
                        </div>
                    </div>

                    <div id="mapchart" style="width: 60%;height: 100%;border: 1px solid #ccc;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md5">
            <div class="positionR box_yinying mb30">
                <div class="top_stitle">用户日均活跃时段</div><!--标题--->
                <div class="left_top"></div>
                <div class="left_bottom"></div>
                <div class="right_top"></div>
                <div class="right_bottom"></div>
                <div id="useractiveline" class="positionR" style="margin:0 20px;height: 220px;">
                    <!-- <ul class="right_tips">
                        <li class="a"><span>•</span>上传</li>
                        <li><span>•</span>下载</li>
                        <li class="a"><span>•</span>浏览</li>
                        <li><span>•</span>全部</li>
                    </ul>
                    地图 -->
                </div>
            </div>
            <div class="positionR box_yinying">
                <div class="top_stitle">存储文件分类统计</div><!--标题--->
                <div class="left_top"></div>
                <div class="left_bottom"></div>
                <div class="right_top"></div>
                <div class="right_bottom"></div>
                <div id="filetypepie" class="positionR" style="margin:0 20px;height: 290px;">
                    <!-- <ul class="right_tips2">
                        <li class="a"><img src="../images/icon1.png" width="16"/>文档<span>256</span></li>
                        <li class="b"><img src="../images/icon2.png" width="16"/>音频<span>3566</span></li>
                        <li class="c"><img src="../images/icon3.png" width="16"/>图片<span>342</li>
                        <li class="d"><img src="../images/icon4.png" width="16"/>应用<span>1.15万</span></li>
                        <li class="e"><img src="../images/icon5.png" width="16"/>视频<span>5652</span></li>
                        <li class="f"><img src="../images/icon6.png" width="16"/>其他<span>1.11万</span></li>
                    </ul>
                    地图 -->
                </div>
            </div>

        </div>
    </div>
</div>
<script src="../../js/echarts.min.js"></script>
<script src="console.js"></script>

</body>
</html>

